.woo-input-group {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 4px;
  height: 36px;
}
.woo-input-group:active {
  outline: 1px solid #d2d2d2;
}
.woo-input-group:hover {
  outline: 1px solid #d2d2d2;
}
.woo-input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 34px;
  font-size: 16px;
  color: #2c3e50;
  padding-left: 16px;
}
.woo-input:focus-visible {
  outline: unset;
}
.woo-input-disabled {
  border-color: #eee !important;
  background-color: #FBFBFB !important;
  color: #d2d2d2 !important;
  cursor: not-allowed !important;
  opacity: 1;
}
.woo-input-append {
  width: 64px;
  border-left: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #2c3e50;
}
.woo-input-prepend {
  width: 64px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #2c3e50;
}
.woo-btn {
  height: 38px;
  line-height: 38px;
  border: 1px solid #d2d2d2;
  background: 0 0;
  color: #666;
  padding: 0 18px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 16px;
}
.woo-btn:last-child {
  margin-right: 0;
}
.woo-btn:hover {
  border-color: #009688;
  color: #333;
}
.woo-btn.woo-btn-primary {
  background-color: #009688;
  border-color: #009688;
  color: #fff;
}
.woo-btn.woo-btn-primary:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #fff;
}
.woo-btn.woo-btn-primary:active {
  opacity: 1;
}
.woo-btn.woo-btn-warn {
  background-color: #FFB800;
  border-color: #FFB800;
  color: #fff;
}
.woo-btn.woo-btn-warn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #fff;
}
.woo-btn.woo-btn-warn:active {
  opacity: 1;
}
.woo-btn.woo-btn-danger {
  background-color: #FF5722;
  border-color: #FF5722;
  color: #fff;
}
.woo-btn.woo-btn-danger:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #fff;
}
.woo-btn.woo-btn-danger:active {
  opacity: 1;
}
.woo-btn.woo-btn-lg {
  height: 44px;
  line-height: 44px;
  padding: 0 25px;
  font-size: 16px;
}
.woo-btn.woo-btn-sm {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
}
.woo-btn.woo-btn-xs {
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  font-size: 12px;
}
.woo-btn.woo-btn-round {
  border-radius: 100px;
}
.woo-btn.woo-btn-block {
  width: 100%;
  display: block;
}
.woo-btn.woo-btn-icon {
  display: flex;
  align-items: center;
}
.woo-btn.woo-btn-link {
  background-color: #fff;
  color: #666;
}
.woo-btn.woo-btn-link:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #666;
}
.woo-btn.woo-btn-link:active {
  opacity: 1;
}
.woo-btn.woo-btn-disabled {
  border-color: #eee !important;
  background-color: #FBFBFB !important;
  color: #d2d2d2 !important;
  cursor: not-allowed !important;
  opacity: 1;
}
.woo-checkbox {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}
.woo-checkbox .woo-checkbox-box {
  width: 16px;
  height: 16px;
  line-height: 16px;
  outline: 1px solid #d2d2d2;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 4px;
  overflow: hidden;
}
.woo-checkbox .woo-checkbox-box .woo-not-select-check {
  color: #ffffff;
  font-size: 16px;
}
.woo-checkbox .woo-checkbox-box .woo-checkbox-box-color {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.1s linear;
}
.woo-checkbox-box-disabled.woo-checkbox {
  color: #d2d2d2 !important;
}
.woo-checkbox-box-disabled.woo-checkbox .woo-checkbox-box {
  outline-color: #eee !important;
  background-color: #FBFBFB !important;
  cursor: not-allowed !important;
  opacity: 1;
}
.woo-checkbox-input {
  cursor: pointer;
}
.woo-checkbox.woo-checkbox-box-checked {
  color: #232323;
}
.woo-checkbox.woo-checkbox-box-checked .woo-checkbox-box-color {
  background-color: #5FB878;
  opacity: 1;
}
.woo-checkbox-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.woo-checkbox-group .woo-checkbox {
  margin-right: 12px;
}
.woo-checkbox-group .woo-checkbox:last-child {
  margin-right: 0;
}
.woo-not-select {
  user-select: none;
}
