.woo-select{
    width: 100%;
    .woo-select-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border:1px solid #eee;
        color: rgba(0,0,0,.85);
        border-radius: 2px;
        padding:0 30px;
        cursor: pointer;
        height: 38px;
        line-height: 1.3;
    }
}
